<pre>
<span class="Keyword">class</span> <span class="Type">Michael</span> &lt; <span class="Type">Berkowitz</span>
  <span class="PreProc">def</span> <span class="Function">initialize</span>
    <span class="Identifier">@writing</span> = {
      <span class="Constant">poetry</span>: <span class="String"><a href="http://minorepiphanies.tumblr.com">http://minorepiphanies.tumblr.com</a></span>,
      <span class="Constant">songs</span>: <span class="String"><a href="http://www.reverbnation.com/michaelberkowitz">http://www.reverbnation.com/michaelberkowitz</a></span>,
      <span class="Constant">code</span>: <span class="String"><a href="http://www.github.com/mikowitz">http://www.github.com/mikowitz</a></span>
    }

    <span class="Identifier">@work</span> = <span class="String"><a href="http://www.patientslikeme.com">http://www.patientslikeme.com</a></span>
    <span class="Identifier">@twitter</span> = <span class="String"><a href="http://www.twitter.com/hal678">http://www.twitter.com/hal678</a></span>
  <span class="PreProc">end</span>
<span class="Keyword">end</span>

<span class="Comment"># design inspired by <a href="http://semanticart.com">Jeffrey Chupp</a></span>
</pre>
