%p
  The once and future home of Michael Berkowitz.

%p
  In the meantime, check out #{link_to 'some poetry', 'http://minorepiphanies.tumblr.com'} or
  #{link_to 'some code', 'http://github.com/mikowitz'}.
