<pre>
<span class="Keyword">class</span> <span class="Type">Michael</span> &lt; <span class="Type">Berkowitz</span>
  <span class="Statement">attr_accessor</span> <span class="Constant">:writing</span>, <span class="Constant">:open_source</span>, <span class="Constant">:work</span>, <span class="Constant">:twitter</span>
  <span class="PreProc">def</span> <span class="Function">initialize</span>
    <span class="Identifier">@writing</span> = {
      <span class="Constant">poetry</span>: <span class="rubyStringDelimiter">'</span><span class="String"><a href="http://minorepiphanies.tumblr.com">http://minorepiphanies.tumblr.com</a></span><span class="rubyStringDelimiter">'</span>,
      <span class="Constant">songs</span>: <span class="rubyStringDelimiter">'</span><span class="String"><a href="http://www.reverbnation.com/michaelberkowitz">http://www.reverbnation.com/michaelberkowitz</a></span><span class="rubyStringDelimiter">'</span>,
      <span class="Constant">code</span>: <span class="rubyStringDelimiter">'</span><span class="String"><a href="http://www.github.com/mikowitz">http://www.github.com/mikowitz</a></span><span class="rubyStringDelimiter">'</span>
    }

    <span class="Identifier">@work</span> = <span class="rubyStringDelimiter">'</span><span class="String"><a href="http://www.patientslikeme.com">http://www.patientslikeme.com</a></span><span class="rubyStringDelimiter">'</span>
    <span class="Identifier">@twitter</span> = <span class="rubyStringDelimiter">'</span><span class="String"><a href="http://www.twitter.com/hal678">http://www.twitter.com/hal678</a></span><span class="rubyStringDelimiter">'</span>
  <span class="PreProc">end</span>
<span class="Keyword">end</span>
</pre>
