<!DOCTYPE html>
<html>
  <head>
    <title>Michael Berkowitz</title>
    <link href='/styles/application.css' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <pre>
  <span class="keyword">class</span> <span class="type">Michael</span> &lt; <span class="type">Berkowitz</span>
    <span class="pre-proc">def</span> <span class="function">initialize</span>
      <span class="identifier">@writing</span> = {
        <span class="constant">poetry</span>: [
          <span class="string"><a href="http://www.onesentencepoems.com/osp/michael-berkowitz-the-restored-typewriter/">One Sentence Poems</a></span>,
          <span class="string"><a href="http://www.magcloud.com/browse/issue/804364">The Rampallian</a></span>,
          <span class="string"><a href="https://eunoiareview.wordpress.com/tag/michael-berkowitz/">Eunoia Review</a></span>,
          <span class="string"><a href="http://www.sixfold.org/PoWinter13/Berkowitz.html">Sixfold</a></span>
        ],
        <span class="constant">songs</span>: <span class="string"><a href="http://www.reverbnation.com/michaelberkowitz">http://www.reverbnation.com/michaelberkowitz</a></span>,
        <span class="constant">code</span>: <span class="string"><a href="http://www.github.com/mikowitz">http://www.github.com/mikowitz</a></span>
      }

      <span class="identifier">@work</span> = <span class="string"><a href="http://www.meyouhealth.com">http://www.meyouhealth.com</a></span>
      <span class="identifier">@twitter</span> = <span class="string"><a href="http://www.twitter.com/hal678">http://www.twitter.com/hal678</a></span>
    <span class="pre-proc">end</span>
  <span class="keyword">end</span>

  <span class="comment"># design inspired by <a href="http://semanticart.com">Jeffrey Chupp</a></span>
    </pre>
  </body>
</html>
