!!!html
%html
  %head
    %title PENGUINS!!!
    %link(href="/styles/application.css" rel="stylesheet" type="text/css")

  %body
    %pre
      %img(src="http://38.media.tumblr.com/4ae07be5a5bc7f5ee56edb52f0ade43f/tumblr_neujgmgpBd1sn75h6o1_400.gif")


