!!!
%html
  %head
    %title Michael Berkowitz - Songs About Snow
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{name: 'description', content: 'Michael Berkowitz is a software developer, songwriter, musician and poet currently based in Somerville, MA'}

  %body

    = yield
